<html >
 <head>
 <meta charset="utf-8">
  <title>Html示例</title>
  <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
 </head>
 <body>
<span class="ks-simplestar">

<img src="http://img.alicdn.com/tps/i2/T1j_SkXl0fXXXXXXXX-19-19.png">
<img src="http://img.alicdn.com/tps/i2/T1j_SkXl0fXXXXXXXX-19-19.png">
<img src="http://img.alicdn.com/tps/i2/T1j_SkXl0fXXXXXXXX-19-19.png">
<img src="http://img.alicdn.com/tps/i2/T1j_SkXl0fXXXXXXXX-19-19.png">
<img src="http://img.alicdn.com/tps/i2/T1j_SkXl0fXXXXXXXX-19-19.png">

</span>
</ul>
<script type="text/javascript">

$(document).ready(function($) {
$(".ks-simplestar img").mouseover(function(){

var index = $(this).index()+1;
   $(".ks-simplestar img:lt("+index+")").attr("src","http://img.alicdn.com/tps/i3/T1eMt9XclyXXXXXXXX-19-19.png");
index = index -1;
   $(".ks-simplestar img:gt("+index+")").attr("src","http://img.alicdn.com/tps/i2/T1j_SkXl0fXXXXXXXX-19-19.png");
});
});
  </script>
 </body>
</html>