/*初始化网页*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li, pre, fieldset, lengend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}
ul,ol,li{
	list-style-type: none;
}
/*去除a链接的下划线字体颜色*/
a{
	text-decoration: none;
}
/*左右浮动公共样式*/
.fl{
	float: left;
}
.fr{
	float: right;
}
body{
	background:#F9F9F9;
}
.main-container{
	width: 854px;
	height: 598px;
	background: #FFFFFF;
	margin: 0px auto;
}
/*设置顶部logo*/
.logo-container{
	width: 786px;
	height: 88px;
	/*background: red;*/
	margin: 0px auto;
}
.milogo{
	width: 49px;
	height: 48px;
	background:url(./images/milogo.png);
	margin: 0px auto;
}
.title_big30{
	width: 786px;
	height: 45px;
	/*background: red;*/
	margin: 0px auto;
	text-align: center;
	font-size: 30px;
	color: #333333;
}
.input-container{
	width: 786px;
	height: 385px;
	/*background: red;*/
	margin: 0px auto;
}
/*设置国家地区*/
.tit-normal{
	width: 332px;
	height: 25px;
	margin: 0px auto;
	font-size: 16px;
	/*background: blue;*/
}
.tits-box{
	width: 332px;
	height:42px;
	background: yellow;
	margin: 0px auto;
}
#tits-select{
	width: 332px;
	height: 42px;
	font-size: 25px;
}
.tits-notice{
	width: 332px;
	height: 20px;
	margin: 5px auto 10px;
	/*background: yellow;*/
	font-size: 13px;
}
/*设置手机号码输入框*/
.phone-box{
	width: 332px;
	height:78px;
	/*background: yellow;*/
	margin: 0px auto;
}
/*.phone-select{
	width: 74px;
	height: 42px;
	background: blue;
}*/
#guojibianma{
	width: 74px;
	height: 42px;
	font-size: 25px;
}
.phone-number{
	width: 256px;
	height: 40px;
	/*border:1px solid #FF6666;*/
}
.num-input{
	width: 320px;
	height: 40px;
	padding-left:10px;
}
/*设置立即注册按钮*/
.submit-btn{
	width: 330px;
	height: 42px;
	margin: 0px auto;
}
#submitButton{
	width: 330px;
	height: 42px;
	color: #fff;
	background: #ff6700;
	margin: 5px auto 0px;
	border: 1px solid rgba(186,186,186,0.3);
	cursor: pointer;
}
#submitButton:hover{
	background-color: #FF936A;
}
/*密码框*/
.pass{
	width: 320px;
	height: 40px;
	margin: 10px auto;
	padding-left:10px
}
/*验证码框*/
#code{
	width: 165px;
	height: 40px;
	line-height: 40px;
	padding-left:10px
}
/*获取验证码*/
#send{
	/*width: 200px;*/
	height: 40px;
	border: 1px solid #e8e8e8;
	line-height: 40px;
	vertical-align: middle;
	text-align:center;
	color: #000;
	padding: 0 5px 0 5px;
	border-radius:4px;
}
#send:hover{
	background: #ECECEC;
	color:#888;
}
/*设置协议*/
.msg{
	width: 420px;
	height: 39px;
	/*background: yellow;*/
	margin: 220px auto 0px;
	font-size: 15px;
	color: #989898;
}
/*设置顶部部分*/
.lang-select-list{
	width: 854px;
	height: 19px;
	/*background: red;*/
	margin: 0px auto;
}
.lang-select-list ul{
	margin-left: 281px;
}
.lang-select-list li{
	/*width: 48px;*/
	height: 19px;
	/*background: yellow;*/
	float: left;
	font-size: 15px;
	padding: 0px 15px;
}
.lang-select-list li a{
	color: #989898;
}
/*设置文字中出现的直线*/
.left-xian{
	border-left: 1px solid #989898;
}
/*网页最底部*/
.intro-bottom{
	width: 100%;
	height: 44px;
	text-align: center;
	margin-top: 20px;
	font-size: 15px;
	color: #9D9D9D;
}